*{
    box-sizing: border-box;
}
.container{
    width: 30%;
    height: 60%;
    border-radius:10%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text{
    font-size: 40px;
    font-weight: bold;
}
.question{
    font-size: 18px;
    font-weight: normal;
}
.signUpButton{
    height: 10%;
    width: 20%;
    background-color:black;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 10px;
}