.mainInfo {
    padding: 40px 30px 10px 30px;
    /*padding-bottom: 10px;*/
    /*padding-top: 40px;*/
    /*padding-left: 30px;*/
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;

}

.infoContainer {
    /*width: 80%;*/
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    height: 100px;

}
.info{
    font-weight: bold;
}
.text{
    font-weight: normal;
    height: 200px;
}
.technologies{
    text-align: center;
}
.technologiesWrapper, .technologiesWrapper2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.technologiesWrapper2{
    padding-left: 17px;
}
.icon{
    width:70px;
    height: 70px;
    color:black;
    /*margin-right: 150px;*/

}
