.mainInfo {
    padding: 60px 50px;
    font-family: sans-serif;
    font-size: 20px;
}

.education {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;

}
.infoContainer{
    margin-bottom: 30px;
}
.colorBorder {
    background-color:#f3407e;
    border: 7px solid #f3407e;
    border-radius: 5px;
    margin-bottom: 30px;
}
p{
    font-weight: bold;
}