.container{
    width: 1400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 0;*/
    background-color: #d0cccc;
    color: red;
}