*{
  box-sizing: border-box;
}
.App {
  margin: 0px auto;
  width: 1400px;
  line-height: 100%;
}

.app-wrapper{
  margin: 0px auto;
  display: grid;
 border: 1px solid #c9c4c4;

  grid-template-areas:
"h h"
"n c"
"f f";
  grid-template-rows: 100px 1fr 100px;
  grid-auto-columns: 4fr 8fr;
  /* */
}
.app-wrapper-content{
  /*width: 1200px;*/
  grid-area: c;
    /*position: relative;*/
    /*overflow: hidden;*/
    /*min-height: 90vh;*/
}